  

.header{
  display: flex;
  border: 2px solid black;
  justify-content: space-between;

}
.list-con>ul{
  display: flex;
  padding: 10px;
}
.list-con>ul>li{
  list-style-type: none;
  margin: 10px;
}


 

.res-card:hover{
  cursor: pointer;
  border: 2px solid black;
}


.main-con{
  width: 100%;
  
  
}
.res-card{
  width: 280px;
  background-color: #f0f0ff;
}
.res-img{
  width:270px ;
  height: 250px;
}











